In [23]:
import pandas as pd
import numpy as np

from pycaret.regression import *

In [24]:
train = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/train.csv')
test = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/test.csv')
submission = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/submission.csv')

In [25]:
train.head()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,강우D1,수위E1,수위D1,유역평균강수2,강우A2,강우B2,강우C2,강우D2,수위E2,수위D2,유역평균강수3,강우A3,강우B3,강우C3,강우D3,수위E3,수위D3,유역평균강수4,강우A4,강우B4,강우C4,강우D4,수위E4,수위D4,유역평균강수5,강우A5,강우B5,강우C5,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,8,2.54,122.56875,6.3,7,7,7,8,2.54,122.541667,6.3,7,7,7,8,2.54,122.550000,6.4,7,7,8,8,2.54,122.675000,6.4,7,7,8,8,2.54,122.660,6.4,7,7,8,8,2.54,122.610
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,8,2.53,122.56250,6.4,7,8,7,8,2.53,122.550000,6.4,7,8,7,8,2.53,122.558333,7.3,7,8,10,10,2.53,122.667857,7.3,7,8,10,10,2.53,122.648,7.3,7,8,10,10,2.53,122.600
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,8,2.53,122.55625,7.3,7,9,7,8,2.53,122.558333,7.3,7,9,8,8,2.53,122.566667,8.2,7,9,10,11,2.53,122.660714,8.2,7,9,10,11,2.53,122.636,8.2,7,9,10,11,2.53,122.590
3,1.0,2006.0,7.0,10.0,11.0,302.812199,7.3,7,10,7,8,2.53,122.55625,8.2,7,10,8,8,2.53,122.566667,8.2,7,10,10,10,2.53,122.575000,11.3,9,10,15,14,2.53,122.653571,11.3,9,10,15,14,2.53,122.620,11.3,9,10,15,14,2.53,122.585
4,1.0,2006.0,7.0,10.0,12.0,384.783406,8.2,7,12,8,10,2.53,122.55625,11.3,9,12,10,10,2.53,122.575000,11.3,9,12,10,11,2.53,122.575000,14.4,12,12,18,16,2.53,122.639286,14.4,12,12,18,16,2.53,122.604,14.4,12,12,18,16,2.53,122.575

In [26]:
train.corr()['유입량']

홍수사상번호    -0.376751
연         -0.349836
월         -0.116182
일          0.052061
시간         0.016276
유입량        1.000000
유역평균강수1    0.742268
강우A1       0.617424
강우B1       0.739951
강우C1       0.605588
강우D1       0.700568
수위E1       0.903840
수위D1       0.109475
유역평균강수2    0.752184
강우A2       0.615217
강우B2       0.743754
강우C2       0.626355
강우D2       0.700568
수위E2       0.903840
수위D2       0.124289
유역평균강수3    0.752184
강우A3       0.615217
강우B3       0.771063
강우C3       0.641773
강우D3       0.710927
수위E3       0.903840
수위D3       0.133473
유역평균강수4    0.760476
강우A4       0.612004
강우B4       0.771063
강우C4       0.619889
강우D4       0.722170
수위E4       0.903840
수위D4       0.084623
유역평균강수5    0.767842
강우A5       0.612004
강우B5       0.771063
강우C5       0.619889
강우D5       0.722170
수위E5       0.903840
수위D5       0.091073
유역평균강수6    0.790920
강우A6       0.612004
강우B6       0.767258
강우C6       0.669108
강우D6       0.727581
수위E6       0.903840
수위D6       0.097066
Name: 유입량, dtype: float64

In [27]:
유역평균강수 = ['유역평균강수1','유역평균강수2','유역평균강수3','유역평균강수4','유역평균강수5','유역평균강수6',]
강우A = ['강우A1','강우A2','강우A3','강우A4','강우A5','강우A6']
강우B = ['강우B1','강우B2','강우B3','강우B4','강우B5','강우B6']
강우C = ['강우C1','강우C2','강우C3','강우C4','강우C5','강우C6']
강우D = ['강우D1','강우D2','강우D3','강우D4','강우D5','강우D6']
수위E = ['수위E1','수위E2','수위E3','수위E4','수위E5','수위E6']
수위D = ['수위D1','수위D2','수위D3','수위D4','수위D5','수위D6']

In [28]:
print(train[유역평균강수].mean())

유역평균강수1    68.196146
유역평균강수2    68.708745
유역평균강수3    68.708745
유역평균강수4    69.212519
유역평균강수5    67.435002
유역평균강수6    61.934329
dtype: float64

In [29]:
print(train[강우A].mean())

강우A1    79.865790
강우A2    83.111726
강우A3    83.111726
강우A4    84.734694
강우A5    84.734694
강우A6    84.734694
dtype: float64

In [30]:
print(train[강우B].mean())

강우B1    64.320996
강우B2    63.459011
강우B3    57.274991
강우B4    57.274991
강우B5    57.274991
강우B6    58.176064
dtype: float64

In [31]:
print(train[강우C].mean())

강우C1    40.029747
강우C2    39.464199
강우C3    39.700796
강우C4    51.492909
강우C5    51.492909
강우C6    39.168108
dtype: float64

In [32]:
print(train[강우D].mean())

강우D1    53.355240
강우D2    53.355240
강우D3    53.777240
강우D4    55.565202
강우D5    55.565202
강우D6    53.470771
dtype: float64

In [33]:
print(train[수위E].mean())

수위E1    4.583075
수위E2    4.583075
수위E3    4.583075
수위E4    4.583075
수위E5    4.583075
수위E6    4.583075
dtype: float64

In [34]:
print(train[수위D].mean())

수위D1    131.868337
수위D2    131.937138
수위D3    131.973432
수위D4    131.713814
수위D5    131.758356
수위D6    131.802854
dtype: float64

In [35]:
train['유역평균강수'] = test[유역평균강수].apply(np.mean , axis=1)
train['강우A'] = train[강우A].apply(np.mean ,axis=1)
train['강우B'] = train[강우B].apply(np.mean ,axis=1)
train['강우C'] = train[강우C].apply(np.mean ,axis=1)
train['강우D'] = train[강우D].apply(np.mean ,axis=1)
train['수위E'] = train[수위E].apply(np.mean ,axis=1)
train['수위D'] = train[수위D].apply(np.mean ,axis=1)

In [36]:
test['유역평균강수'] = test[유역평균강수].apply(np.mean , axis=1)
test['강우A'] = test[강우A].apply(np.mean ,axis=1)
test['강우B'] = test[강우B].apply(np.mean ,axis=1)
test['강우C'] = test[강우C].apply(np.mean ,axis=1)
test['강우D'] = test[강우D].apply(np.mean ,axis=1)
test['수위E'] = test[수위E].apply(np.mean ,axis=1)
test['수위D'] = test[수위D].apply(np.mean ,axis=1)

In [37]:
drops = [*유역평균강수,*강우A,*강우B,*강우C,*강우D,*수위E,*수위D]

train = train.drop(drops, axis=1)

In [38]:
train.head()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D
0,1.0,2006.0,7.0,10.0,8.0,189.100000,7.681583,7.000000,7.0,7.500000,8.000000,2.54,122.600903
1,1.0,2006.0,7.0,10.0,9.0,216.951962,7.427667,7.000000,8.0,8.500000,9.000000,2.53,122.597782
2,1.0,2006.0,7.0,10.0,10.0,251.424419,10.552617,7.000000,9.0,8.666667,9.500000,2.53,122.594661
3,1.0,2006.0,7.0,10.0,11.0,302.812199,15.733667,8.000000,10.0,11.666667,11.333333,2.53,122.592748
4,1.0,2006.0,7.0,10.0,12.0,384.783406,22.355200,10.166667,12.0,13.666667,13.166667,2.53,122.587423

In [39]:
train.columns

Index(['홍수사상번호', '연', '월', '일', '시간', '유입량', '유역평균강수', '강우A', '강우B', '강우C',
       '강우D', '수위E', '수위D'],
      dtype='object')

In [40]:
x_train = train[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D','유입량']]
y_train = train['유입량']

x_test = test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

In [41]:
model = cat

NameError: name 'cat' is not defined

In [42]:
model.fit(x_train, y_train)

NameError: name 'model' is not defined

In [43]:
pred = model.predict(x_test)

NameError: name 'model' is not defined

In [44]:
test['유입량'] = pred

NameError: name 'pred' is not defined

In [45]:
test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D','유입량']]

,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D,유입량
0,7.681583,32.000000,0.000000,0.500000,0.000000,1.93,120.500966,NaN
1,7.427667,20.500000,1.000000,7.000000,4.000000,1.93,120.497829,NaN
2,10.552617,16.333333,5.000000,9.666667,12.000000,1.92,120.494692,NaN
3,15.733667,13.833333,11.000000,13.500000,17.833333,1.92,120.491556,NaN
4,22.355200,16.666667,25.000000,17.166667,24.666667,1.92,120.490849,NaN
5,29.512800,19.833333,48.000000,21.666667,32.000000,1.95,120.491532,NaN
6,33.903250,21.333333,58.000000,23.166667,35.500000,1.95,120.492214,NaN
7,36.513717,22.166667,60.000000,24.166667,38.166667,1.96,120.492897,NaN
8,38.346267,22.833333,63.000000,25.166667,39.000000,1.96,120.493024,NaN
9,40.669650,22.833333,67.000000,27.000000,39.500000,1.97,120.492804,NaN
10,45.514133,33.166667,68.000000,38.166667,45.666667,2.12,120.492583,NaN
11,52.178383,50.000000,71.000000,42.833333,51.500000,2.23,120.492363,NaN
12,58.147117,59.500000,74.000000,50.166667,56.166667,2.39,120.492810,NaN
13,62.472267,64.833333,75.000000,55.666667,62.833333,2.71,120.493048,NaN
14,66.100033,70.000000,75.000000,64.166667,70.500000,2.79,120.493286,NaN
15,69.924333,72.000000,78.000000,68.000000,75.000000,2.89,120.494119,NaN
16,73.507417,73.000000,82.000000,70.833333,78.000000,2.97,120.494952,NaN
17,75.752383,74.166667,86.000000,72.666667,81.666667,3.01,120.495619,NaN
18,77.440417,76.166667,86.000000,74.833333,83.333333,3.26,120.496286,NaN
19,78.659367,77.333333,89.000000,75.833333,84.333333,3.49,120.499603,NaN
20,82.231250,78.500000,91.000000,82.000000,89.000000,3.65,120.506780,NaN
21,88.698533,82.666667,92.000000,86.833333,98.500000,3.83,120.515940,NaN
22,96.794300,87.166667,100.000000,90.833333,104.833333,4.12,120.531016,NaN
23,102.431500,90.166667,103.000000,95.166667,112.166667,4.40,120.552006,NaN
24,105.579350,92.333333,103.000000,102.166667,121.166667,4.76,120.578315,NaN
25,108.796467,94.000000,106.000000,111.666667,129.500000,5.21,120.610540,NaN
26,112.521467,97.166667,109.000000,115.166667,133.333333,5.66,120.648679,NaN
27,115.593933,100.000000,112.000000,118.833333,136.500000,6.06,120.692732,NaN
28,116.994050,100.833333,113.000000,123.666667,140.333333,6.27,120.742700,NaN
29,117.380250,101.666667,113.000000,126.500000,142.333333,6.38,120.801234,NaN
30,117.403250,102.000000,113.000000,127.333333,143.000000,6.47,120.868946,NaN
31,117.682433,102.000000,113.000000,129.166667,143.000000,6.51,120.943835,NaN
32,118.637433,102.000000,113.000000,132.500000,145.500000,6.58,121.029165,NaN
33,120.316300,102.000000,114.000000,134.500000,147.000000,6.62,121.124935,NaN
34,121.820167,102.000000,116.000000,136.500000,148.333333,6.61,121.229756,NaN
35,123.627683,102.000000,118.000000,140.500000,151.500000,6.59,121.340978,NaN
36,125.701267,104.000000,119.000000,142.166667,153.166667,6.54,121.456946,NaN
37,127.567717,106.333333,120.000000,143.833333,153.833333,6.48,121.581966,NaN
38,128.572367,107.000000,120.000000,142.500000,154.666667,6.39,121.714996,NaN
39,129.112967,107.666667,120.000000,142.500000,155.500000,6.30,121.853385,NaN
40,129.400317,108.000000,121.000000,142.000000,155.500000,6.20,121.995687,NaN
41,129.637117,108.500000,121.000000,139.666667,155.666667,6.10,122.144609,NaN
42,129.828583,108.833333,121.000000,136.333333,154.666667,5.99,122.296669,NaN
43,130.123200,108.833333,122.000000,134.833333,152.000000,5.88,122.451252,NaN
44,130.445933,109.000000,123.000000,132.000000,147.833333,5.77,122.609567,NaN
45,130.713533,109.000000,123.000000,130.500000,140.666667,5.66,122.769631,NaN
46,130.869350,109.000000,123.000000,129.166667,132.166667,5.55,122.929121,NaN
47,130.928400,109.000000,123.000000,125.333333,124.333333,5.45,123.090486,NaN
48,130.942500,109.000000,123.000000,123.500000,120.000000,5.37,123.252667,NaN
49,130.942500,109.000000,122.500000,121.833333,118.666667,5.29,123.414292,NaN
50,130.861550,109.000000,120.333333,117.666667,117.333333,5.22,123.571264,NaN
51,130.196833,109.000000,116.666667,111.666667,114.833333,5.13,123.725806,NaN
52,128.822650,109.000000,108.666667,108.000000,111.833333,5.06,123.878125,NaN
53,127.693333,109.000000,94.833333,98.666667,107.166667,5.00,124.025792,NaN
54,126.593517,109.000000,87.000000,94.666667,101.333333,4.95,124.169528,NaN
55,125.387433,109.000000,84.333333,91.166667,93.166667,4.88,124.310000,NaN
56,125.115883,109.000000,82.333333,90.000000,86.833333,4.81,124.447028,NaN
57,124.308317,109.000000,79.000000,86.166667,82.000000,4.74,124.579530,NaN
58,122.651050,109.000000,76.166667,83.833333,78.333333,4.68,124.705450,NaN
59,120.516183,109.000000,71.166667,82.666667,75.000000,4.61,124.824623,NaN
60,115.656433,109.000000,63.000000,80.000000,72.666667,4.54,124.940770,NaN
61,108.754450,108.000000,56.500000,74.500000,70.333333,4.49,125.052391,NaN
62,103.044383,99.000000,54.333333,62.666667,66.500000,4.43,125.159266,NaN
63,97.566767,94.000000,52.000000,56.666667,62.166667,4.37,125.261169,NaN
64,92.760267,92.000000,48.333333,51.833333,54.000000,4.32,125.358992,NaN
65,89.626017,90.000000,44.833333,47.500000,44.500000,4.27,125.450415,NaN
66,86.872500,90.000000,44.500000,42.666667,34.000000,4.22,125.537925,NaN
67,84.208750,89.000000,43.000000,40.166667,28.666667,4.16,125.621337,NaN
68,80.999900,89.000000,40.833333,36.333333,24.000000,4.11,125.700837,NaN
69,76.365467,87.000000,40.833333,34.166667,20.166667,4.07,125.774978,NaN
70,70.398733,68.000000,36.166667,33.333333,15.666667,4.03,125.850508,NaN
71,65.076283,45.000000,32.166667,32.333333,13.666667,3.98,125.926165,NaN
72,60.815850,40.000000,31.333333,26.500000,13.000000,3.94,125.998575,NaN
73,57.838050,39.000000,29.166667,22.000000,12.666667,3.90,126.067056,NaN
74,54.819350,37.000000,26.666667,19.333333,12.166667,3.85,126.133679,NaN
75,52.027600,36.000000,23.833333,16.833333,10.500000,3.83,126.199468,NaN
76,49.261383,35.000000,22.333333,13.666667,8.666667,3.79,126.263401,NaN
77,46.604150,34.000000,20.666667,8.666667,6.000000,3.74,126.325458,NaN
78,43.582850,31.000000,18.833333,6.833333,4.166667,3.71,126.386254,NaN
79,39.534850,31.000000,18.333333,6.833333,3.166667,3.68,126.444399,NaN
80,33.979567,29.000000,17.833333,6.000000,2.166667,3.65,126.500669,NaN
81,28.493183,23.000000,16.333333,6.000000,1.833333,3.61,126.556718,NaN
82,25.063717,18.000000,14.166667,6.000000,1.500000,3.58,126.606853,NaN
83,22.672550,16.000000,12.166667,5.000000,1.333333,3.54,126.653615,NaN
84,20.251883,15.000000,11.166667,3.000000,5.000000,3.52,126.695851,NaN
85,18.152217,14.000000,10.500000,2.000000,5.000000,3.51,126.738087,NaN
86,17.397350,10.000000,11.333333,1.666667,6.333333,3.49,126.779657,NaN
87,19.326583,12.666667,12.333333,0.333333,9.000000,3.45,126.818200,NaN
88,22.343083,16.333333,21.666667,0.333333,14.500000,3.44,126.852218,NaN
89,26.057733,17.333333,22.000000,0.000000,25.000000,3.43,126.886903,NaN
90,31.150717,19.166667,32.333333,0.000000,36.333333,3.46,126.920921,NaN
91,37.702083,21.333333,49.333333,0.500000,44.000000,3.75,126.956161,NaN
92,42.709150,22.333333,61.333333,0.500000,54.666667,3.99,126.990734,NaN
93,45.273617,22.500000,64.000000,0.666667,61.166667,4.47,127.023323,NaN
94,45.414483,23.000000,64.000000,0.833333,61.666667,5.04,127.056022,NaN
95,44.389450,23.000000,63.833333,1.000000,62.000000,5.28,127.090722,NaN
96,43.498883,19.000000,63.666667,1.000000,62.000000,5.37,127.126573,NaN
97,43.066533,17.000000,63.666667,1.000000,62.000000,5.45,127.162663,NaN
98,42.809200,17.000000,63.500000,1.000000,62.000000,5.52,127.197919,NaN
99,42.563917,17.000000,63.166667,1.000000,62.000000,5.50,127.235843,NaN
100,42.378850,17.000000,63.000000,1.000000,62.000000,5.47,127.275752,NaN
101,42.177583,16.000000,63.000000,1.000000,62.000000,5.46,127.318758,NaN
102,41.945117,16.000000,62.500000,1.000000,62.000000,5.44,127.364581,NaN
103,41.789567,16.500000,62.333333,1.000000,62.000000,5.47,127.414335,NaN
104,41.719017,16.833333,62.333333,1.000000,62.000000,5.54,127.465964,NaN
105,41.704283,16.833333,62.333333,1.000000,62.000000,5.58,127.518982,NaN
106,41.737367,17.000000,62.333333,1.000000,62.000000,5.58,127.574651,NaN
107,41.745483,17.000000,62.333333,1.000000,62.000000,5.53,127.634845,NaN
108,41.829667,17.000000,62.333333,1.000000,62.000000,5.43,127.697929,NaN
109,41.823083,17.000000,62.166667,1.000000,62.000000,5.31,127.762887,NaN
110,41.785333,17.000000,62.000000,1.000000,62.000000,5.18,127.827607,NaN
111,41.811517,17.000000,62.000000,1.000000,62.000000,5.07,127.895811,NaN
112,41.808917,17.000000,62.000000,1.500000,62.000000,4.95,127.967708,NaN
113,41.764000,17.000000,62.000000,1.500000,62.000000,4.85,128.038454,NaN
114,41.735033,17.000000,61.500000,1.666667,61.833333,4.76,128.108407,NaN
115,41.597167,17.000000,60.833333,1.833333,61.833333,4.69,128.179621,NaN
116,41.404450,17.000000,60.666667,2.000000,61.500000,4.60,128.254694,NaN
117,41.250750,17.000000,60.166667,2.000000,61.333333,4.53,128.331823,NaN
118,41.040017,17.000000,60.000000,2.000000,61.000000,4.45,128.408397,NaN
119,40.872950,17.000000,60.000000,2.000000,61.000000,4.38,128.481706,NaN
120,40.833383,17.000000,59.500000,2.000000,61.000000,4.32,128.557111,NaN
121,40.807967,17.000000,59.166667,2.000000,61.000000,4.26,128.632891,NaN
122,40.776300,17.000000,58.833333,2.000000,61.000000,4.20,128.707462,NaN
123,40.715383,17.000000,58.666667,2.000000,61.000000,4.13,128.779978,NaN
124,40.620100,17.000000,58.500000,2.000000,61.000000,4.07,128.847246,NaN
125,40.487367,17.000000,58.333333,2.000000,59.666667,4.03,128.914067,NaN
126,40.337567,17.000000,58.333333,2.000000,59.666667,3.98,128.980669,NaN
127,40.204567,17.000000,58.166667,2.000000,57.000000,3.92,129.044601,NaN
128,40.131217,17.000000,58.000000,1.833333,55.666667,3.88,129.105883,NaN
129,40.083317,17.000000,58.000000,1.833333,51.166667,3.84,129.161917,NaN
130,40.051200,17.000000,58.000000,1.833333,47.666667,3.79,129.215300,NaN
131,40.012800,17.000000,58.000000,1.666667,40.833333,3.75,129.266808,NaN
132,40.007783,17.000000,58.000000,1.500000,31.833333,3.71,129.316260,NaN
133,40.049967,17.000000,58.000000,1.500000,18.166667,3.68,129.361187,NaN
134,40.070900,17.000000,57.500000,1.333333,7.666667,3.64,129.403087,NaN
135,39.958817,17.000000,56.833333,1.333333,0.833333,3.61,129.441504,NaN
136,39.856750,17.000000,51.666667,1.333333,0.333333,3.58,129.479435,NaN
137,39.236250,17.000000,49.500000,1.333333,0.000000,3.54,129.516698,NaN
138,38.743333,17.000000,43.833333,1.333333,0.000000,3.51,129.551145,NaN
139,38.030433,17.000000,33.000000,1.333333,0.000000,3.48,129.584550,NaN
140,36.804633,17.000000,23.500000,1.333333,0.000000,3.45,129.617734,NaN
141,35.032217,17.000000,19.666667,1.333333,0.000000,3.43,129.649419,NaN
142,34.077733,17.000000,18.833333,1.333333,0.000000,3.41,129.681450,NaN
143,32.846267,17.000000,17.000000,1.000000,0.000000,3.39,129.713929,NaN
144,31.609367,17.000000,15.166667,1.000000,0.000000,3.36,129.742714,NaN
145,29.584517,17.000000,13.166667,1.000000,0.000000,3.34,129.770238,NaN
146,26.230033,15.000000,8.333333,1.000000,0.000000,3.32,129.796929,NaN
147,21.999950,7.000000,3.166667,1.000000,0.000000,3.30,129.822357,NaN
148,17.900883,5.000000,0.500000,1.000000,0.000000,3.28,129.843927,NaN
149,12.852650,5.000000,0.000000,0.833333,0.000000,3.26,129.864107,NaN
150,7.690033,4.000000,0.000000,0.833333,0.000000,3.24,129.883026,NaN
151,4.313533,1.000000,0.000000,0.833333,0.000000,3.23,129.903206,NaN
152,2.902167,1.000000,0.000000,0.666667,0.000000,3.21,129.921111,NaN
153,2.447117,1.000000,0.000000,0.500000,0.000000,3.19,129.936766,NaN
154,2.346267,1.000000,0.000000,0.500000,0.000000,3.18,129.951645,NaN
155,2.336117,1.000000,0.000000,0.333333,0.000000,3.16,129.963927,NaN
156,2.320833,1.000000,0.000000,0.333333,0.000000,3.15,129.975113,NaN
157,2.313317,1.000000,0.000000,0.333333,0.000000,3.13,129.982202,NaN
158,2.287283,1.000000,0.000000,0.333333,0.000000,3.11,129.989292,NaN
159,2.269683,1.000000,0.000000,0.333333,0.000000,3.10,129.994744,NaN

In [46]:
reg = setup(session_id=1,
            data=x_train,
            target='유입량',
            #numeric_imputation = 'mean',
            normalize = True,
            #categorical_features=['월', '요일', '공휴일전후'],
            silent=True)

In [47]:
rf = create_model('rf', fold=5)

In [48]:
top5 = compare_models(sort='RMSE', n_select=5)

In [54]:
blended_d = blend_models(top5, optimize='RMSE')

In [55]:
pred_holdouts = predict_model(blended_d)
final_model_d = finalize_model(blended_d)
final_model_d

VotingRegressor(estimators=[('catboost',
                             <catboost.core.CatBoostRegressor object at 0x0000021DC14FE7F0>),
                            ('et',
                             ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0,
                                                 criterion='mse',
                                                 max_depth=None,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 max_samples=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fract...
                             RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100, n_jobs=-1,
                                                   oob_score=False,
                                                   random_state=1, verbose=0,
                                                   warm_start=False))],
                n_jobs=-1, verbose=False, weights=None)

In [ ]:
top5[0]