In [15]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

from catboost import CatBoostRegressor
cat = CatBoostRegressor()

In [16]:
train = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/train.csv')
test = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/test.csv')
submission = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/submission.csv')

In [17]:
df_1 = train[['홍수사상번호', '연', '월', '일', '시간', '유입량', 
              '유역평균강수1', '강우A1', '강우B1', '강우C1','강우D1', '수위E1', '수위D1','열번호']]
df_2 = train[['홍수사상번호', '연', '월', '일', '시간', '유입량', 
              '유역평균강수2', '강우A2', '강우B2', '강우C2','강우D2', '수위E2', '수위D2','열번호']]
df_3 = train[['홍수사상번호', '연', '월', '일', '시간', '유입량', 
              '유역평균강수3', '강우A3', '강우B3', '강우C3','강우D3', '수위E3', '수위D3','열번호']]
df_4 = train[['홍수사상번호', '연', '월', '일', '시간', '유입량', 
              '유역평균강수4', '강우A4', '강우B4', '강우C4','강우D4', '수위E4', '수위D4','열번호']]
df_5 = train[['홍수사상번호', '연', '월', '일', '시간', '유입량', 
              '유역평균강수5', '강우A5', '강우B5', '강우C5','강우D5', '수위E5', '수위D5','열번호']]
df_6 = train[['홍수사상번호', '연', '월', '일', '시간', '유입량', 
              '유역평균강수6', '강우A6', '강우B6', '강우C6','강우D6', '수위E6', '수위D6','열번호']]

df_1.columns = ['홍수사상번호','연', '월', '일', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']
df_2.columns = ['홍수사상번호','연', '월', '일', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']
df_3.columns = ['홍수사상번호','연', '월', '일', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']
df_4.columns = ['홍수사상번호','연', '월', '일', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']
df_5.columns = ['홍수사상번호','연', '월', '일', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']
df_6.columns = ['홍수사상번호','연', '월', '일', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']

KeyError: "['열번호'] not in index"

In [14]:
train = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6], axis=0)

NameError: name 'df_1' is not defined

In [ ]:
train = train.sort_values(by='열번호')

In [ ]:
from pycaret.regression import *

In [7]:
X = train[['홍수사상번호','연', '월', '일', '시간',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D','열번호']]

y = train['유입량']

KeyError: "['열번호', '수위E', '강우A', '유역평균강수', '강우D', '수위D', '강우C', '강우B'] not in index"

In [8]:
X['월'] = X['월'].astype(str)
X['일'] = X['일'].astype(str)

NameError: name 'X' is not defined

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=False, test_size=0.2)

categorical_features_indices1 = np.where(X_train.dtypes == np.object)[0]

NameError: name 'X' is not defined

In [10]:
X_train

NameError: name 'X_train' is not defined

In [ ]:
X_train, X_test = train_test_split(X, test_size=0.2, shuffle = False, random_state = 40)
categorical_features_indices = np.where(X_train.dtypes == np.object)[0]

In [ ]:
model = cat

In [ ]:
model.fit(X_train, y_train, cat_features = categorical_features_indices1)

In [ ]:
pred = model.predict(X_test)

In [ ]:
rmse = (np.sqrt(np.mean(mean_squared_error(y_test, pred))))

In [95]:
rmse

575.5808171325568

In [60]:
X_train

,홍수사상번호,연,월,일,시간,유입량,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D,열번호
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4000,7,7,7,8,2.54,122.568750,0
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.3000,7,7,7,8,2.54,122.550000,0
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4000,7,7,8,8,2.54,122.660000,0
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.3000,7,7,7,8,2.54,122.541667,0
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4000,7,7,8,8,2.54,122.610000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,22.0,2013.0,7.0,8.0,20.0,186.106828,7.0789,23,0,3,2,1.97,124.600000,2311
2312,22.0,2013.0,7.0,8.0,21.0,180.463346,7.5385,23,0,3,3,1.97,124.600000,2312
2312,22.0,2013.0,7.0,8.0,21.0,180.463346,7.4782,23,0,3,3,1.97,124.600000,2312
2312,22.0,2013.0,7.0,8.0,21.0,180.463346,7.0789,23,0,3,2,1.97,124.600000,2312
2312,22.0,2013.0,7.0,8.0,21.0,180.463346,7.5385,23,0,3,3,1.97,124.600000,2312

In [61]:
X_test

,홍수사상번호,연,월,일,시간,유입량,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D,열번호
2312,22.0,2013.0,7.0,8.0,21.0,180.463346,7.0789,23,0,3,2,1.97,124.600000,2312
2312,22.0,2013.0,7.0,8.0,21.0,180.463346,7.0021,23,0,3,2,1.97,124.600000,2312
2313,22.0,2013.0,7.0,8.0,22.0,171.394779,7.5385,23,0,3,2,1.97,124.600000,2313
2313,22.0,2013.0,7.0,8.0,22.0,171.394779,7.5385,23,0,3,2,1.97,124.600000,2313
2313,22.0,2013.0,7.0,8.0,22.0,171.394779,7.0789,23,0,3,2,1.97,124.600000,2313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,25.0,2017.0,7.0,18.0,22.0,470.458109,2.1142,1,0,1,1,2.94,137.121429,2890
2890,25.0,2017.0,7.0,18.0,22.0,470.458109,2.7514,1,0,1,1,2.94,137.208333,2890
2890,25.0,2017.0,7.0,18.0,22.0,470.458109,3.2841,1,0,1,1,2.94,137.206250,2890
2890,25.0,2017.0,7.0,18.0,22.0,470.458109,1.7908,1,0,1,1,2.94,137.152000,2890
2890,25.0,2017.0,7.0,18.0,22.0,470.458109,1.7366,1,0,1,1,2.94,137.180000,2890

In [62]:
reg = setup(session_id=1,
            data=X_train[['홍수사상번호','연', '월', '시간','유입량',
                '유역평균강수','강우A','강우B','강우C','강우D','수위E','수위D']],
            target='유입량',
            numeric_imputation = 'mean',
            normalize = True,
            categorical_features=['홍수사상번호','연','월'],
            silent=True)

In [63]:
compare_models(sort='RMSE')

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=1, verbose=0, warm_start=False)