In [10]:
import numpy as np
import pandas as pd
from matplotlib import font_manager, rc
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus'] = False

In [11]:
data = pd.read_csv("C:/Users/Moon/Desktop/Github/BigContest_Flood-ZERO/문우혁/Data_Before/train.csv")
data.head(3)

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.61
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.60
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.59

In [12]:
X = data.drop('유입량', axis=1)
y = data['유입량']

In [45]:
X

,홍수사상번호,연,월,일,시간,유역평균강수1,강우A1,강우B1,강우C1,강우D1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,6.4000,7,7,7,8,...,8,2.54,122.660,6.4000,7,7,8,8,2.54,122.610
1,1.0,2006.0,7.0,10.0,9.0,6.3000,7,8,7,8,...,10,2.53,122.648,7.3000,7,8,10,10,2.53,122.600
2,1.0,2006.0,7.0,10.0,10.0,6.4000,7,9,7,8,...,11,2.53,122.636,8.2000,7,9,10,11,2.53,122.590
3,1.0,2006.0,7.0,10.0,11.0,7.3000,7,10,7,8,...,14,2.53,122.620,11.3000,9,10,15,14,2.53,122.585
4,1.0,2006.0,7.0,10.0,12.0,8.2000,7,12,8,10,...,16,2.53,122.604,14.4000,12,12,18,16,2.53,122.575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,25.0,2017.0,7.0,18.0,18.0,22.7836,6,0,1,1,...,1,3.03,137.088,1.7366,6,0,1,1,3.03,137.130
2887,25.0,2017.0,7.0,18.0,19.0,8.2586,2,0,1,1,...,1,3.00,137.104,1.7366,2,0,1,1,3.00,137.145
2888,25.0,2017.0,7.0,18.0,20.0,4.1089,1,0,1,1,...,1,2.98,137.120,1.7366,1,0,1,1,2.98,137.155
2889,25.0,2017.0,7.0,18.0,21.0,3.3854,1,0,1,1,...,1,2.96,137.136,1.7366,1,0,1,1,2.96,137.165
2890,25.0,2017.0,7.0,18.0,22.0,3.2841,1,0,1,1,...,1,2.94,137.152,1.7366,1,0,1,1,2.94,137.180

In [48]:
X.iloc[226:, 0:]

,홍수사상번호,연,월,일,시간,유역평균강수1,강우A1,강우B1,강우C1,강우D1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
226,2.0,2006.0,7.0,25.0,24.0,0.0000,0,1,0,0,...,0,2.93,134.500,0.5000,0,1,1,0,2.93,134.475
227,2.0,2006.0,7.0,26.0,1.0,0.0000,0,2,0,0,...,1,2.91,134.480,1.5000,1,2,2,1,2.91,134.460
228,2.0,2006.0,7.0,26.0,2.0,0.5000,0,2,0,0,...,2,2.90,134.460,2.6000,2,2,3,2,2.90,134.440
229,2.0,2006.0,7.0,26.0,3.0,1.5000,0,3,0,0,...,3,2.89,134.440,4.0000,6,3,4,3,2.89,134.420
230,2.0,2006.0,7.0,26.0,4.0,2.6000,1,4,1,1,...,4,2.88,134.424,5.4000,11,4,4,4,2.88,134.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,25.0,2017.0,7.0,18.0,18.0,22.7836,6,0,1,1,...,1,3.03,137.088,1.7366,6,0,1,1,3.03,137.130
2887,25.0,2017.0,7.0,18.0,19.0,8.2586,2,0,1,1,...,1,3.00,137.104,1.7366,2,0,1,1,3.00,137.145
2888,25.0,2017.0,7.0,18.0,20.0,4.1089,1,0,1,1,...,1,2.98,137.120,1.7366,1,0,1,1,2.98,137.155
2889,25.0,2017.0,7.0,18.0,21.0,3.3854,1,0,1,1,...,1,2.96,137.136,1.7366,1,0,1,1,2.96,137.165
2890,25.0,2017.0,7.0,18.0,22.0,3.2841,1,0,1,1,...,1,2.94,137.152,1.7366,1,0,1,1,2.94,137.180

In [102]:
X.query('홍수사상번호==25').index

Int64Index([2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797,
            ...
            2881, 2882, 2883, 2884, 2885, 2886, 2887, 2888, 2889, 2890],
           dtype='int64', length=103)

In [54]:
X.columns.get_loc('유역평균강수2')

12

In [2]:
for i in (1,7):
    i

In [9]:
lists=range(2,4)

In [10]:
sum(lists)

5